@tailwind base;
@tailwind components;
@tailwind utilities;

.product-crousel ::-webkit-scrollbar{
    color: transparent;
}
.products ::-webkit-scrollbar{
    color: transparent;
}
.HomeCat::-webkit-scrollbar{
    color: transparent;
}
.RelatedProduct ::-webkit-scrollbar{
display: none;
}